table, td {
    border-style: groove;
    border-color: violet;
}

#content {
    margin: 5%;
}

.row {
    margin: 5px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.pdfLink {
    color: green;
    text-decoration: underline;
    font-size: 30px;
    margin-left: 10px;
}

